<% provide(:button_text, t("submit")) %>
<div style="background-image: url('/img/banner/banner.png');height: 700px ">
  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3><%= t("sign_in")%></h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fa fa-facebook-square"></i></span>
          <span><i class="fa fa-google-plus-square"></i></span>
          <span><i class="fa fa-twitter-square"></i></span>
        </div>
        <div class="card-body">
          <%= form_for :session, url: login_path do |f|%>
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <%= f.text_field :email, class: "form-control", placeholder: t("email") %>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <%= f.password_field :password, class: "form-control", placeholder: t("password") %>
            </div>
            <div class="row align-items-center remember">
              <%= f.check_box :remember_me %>
              <%= t("remember_me")%>
            </div>
            <div class="form-group">
              <%= f.submit yield(:button_text), class: "btn float-right login_btn" %>
            </div>
          </form>
          <% end %>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            <%= t("dont_have_an_account") %>
            <%= link_to t("sign_up"), signup_path %>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#"><%= t("forgot_your_password") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
