<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
          <div class="col-xl-5 col-lg-6">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li>
                    <%= link_to t("home"), root_path %>
                  </li>
                  <li>
                    <%= link_to t("rooms"), static_pages_rooms_path %>
                  </li>
                  <li>
                    <%= link_to t("about"), root_path %>
                  </li>
                  <li>
                    <%= link_to t("contact"), root_path %>
                  </li>
                  <li>
                    <a href="#"><%= t("language")%>
                      <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><%= link_to t("eng"), locale:"en" %></li>
                      <li><%= link_to t("vie"), locale:"vi" %></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2">
            <div class="logo-img">
              <a href="index.html">
                <img src="/img/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-5 col-lg-4 d-none d-lg-block" style="padding-right: 80px">
            <div class="book_room">
              <div class="socail_links">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <% if logged_in? %>
                  <li>
                    <div class="main-menu  d-none d-lg-block">
                      <nav>
                        <ul id="navigation">
                          <li>
                            <a href="#" class="login-regis"><%=current_user.name%>
                              <i class="ti-angle-down"></i></a>
                            <ul class="submenu">
                              <li><%= link_to t("profile"), locale:"en" %></li>
                              <li><%= link_to t("booked"), user_booked_path %></li>
                              <li><%= link_to t("logout"), logout_path %></li>
                              <% if admin? %>
                                <li>
                                  <%= link_to t("admin_page"), admin_root_path%>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </li>
                  <% else %>
                    <li>
                      <%= link_to t("login"),login_path,class: "login-regis" %>
                    </li>
                     <li>
                      <%= link_to t("register"), signup_path,class: "login-regis" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
